/*
Usage
p {
  @include font-size(14px)
}
*/
/*
Usage
.sidebar {
  width: 60%;
  float: left;
  margin: 0 2% 0 0;
  @include bp-small {
    width: 100%;
    float: none;
    margin: 0;
  }
}
*/
/*
Usage
@include keyframes(slide-down) {
  0% { opacity: 1; }
  90% { opacity: 0; }
}
.element {
  width: 100px;
  height: 100px;
  background: black;
  @include animation('slide-down 5s 3');
}
*/
/*
// usage
.faded-text {
  @include opacity(0.8);
}
*/
/*
All in all you need this:
pattern.svg
pattern.png
pattern@2x.png
Usage
body {
  @include background-image('pattern');
}
*/
/*
Usage
.container-with-floated-children {
  @extend %clearfix;
}
*/
.fleft {
  float: left; }

.fright {
  float: right; }

.clear {
  clear: both !important; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.ohidden {
  overflow: hidden; }

.oauto {
  overflow: auto; }

.oculto {
  display: none; }

.visible {
  display: block; }

.centered {
  margin: 0 auto; }

.bordered {
  border: 1px solid #000; }

img.responsive {
  width: 100%;
  height: auto; }

/*
$fuente: 'Futura LT W01 Medium Condensed', Arial, Helvetica, sans-serif;
$fuente_bold: 'Futura LT W01 X Bold Condensed';
$fuente_italic: 'Futura LT W01 Medium Oblique';
$fuente_medium: 'Futura LT W01 Medium';
*/
body.front {
  margin: 0;
  color: #525252;
  font-family: "Source Sans Pro",sans-serif;
  font-size: 16px;
  background: url("/assets/dist/images/header-top.jpg") repeat-x #fff;
  padding-top: 10px; }
  body.front a {
    color: #15AC9B;
    -webkit-transition: color 0.6s ease;
    -moz-transition: color 0.6s ease;
    -ms-transition: color 0.6s ease;
    -o-transition: color 0.6s ease;
    transition: color 0.6s ease; }
    body.front a:hover {
      color: #009092;
      text-decoration: none; }

.breadcrumb {
  padding: 0 0;
  background-color: transparent; }

.panel-default > .panel-heading {
  background-color: transparent; }

.site {
  /* header partial | comment */
  /*
  p {
    @include font-size(20px);
  }

  .transition{
    border: 1px solid $color-black;
    padding: 1em;
    background: $color-white;
    @include transition(background .8s ease);
    &:hover{
      background: $color-grey;
      cursor: pointer;
    }

  }

  // animation frames
  @include keyframes(slide-down) {
    0% { opacity: 1; }
    90% { opacity: 0; }
  }
  .animated {
    width: 100px;
    height: 100px;
    background: black;
    @include animation('slide-down 5s 3');
  }

  .sidebar {
    height: 60px;
    // background: $color-black;
    width: 60%;
    float: left;
    background: $color-black;
    color: $color-white;
    @include font-size(25px);
    text-align: center;
    margin: 0 2% 0 0;
    @include bp-small {
      width: 100%;
      float: none;
      margin: 0;
    }//
  }

  .container-with-floated-children {
    @extend %clearfix;
  }
  */ }
  .site nav#main-header {
    background-color: #fff;
    border: 0;
    border-bottom: 1px solid #15AC9B;
    top: 10px;
    height: 60px;
    /*
  &.dropdown-menu > .active > a, &.dropdown-menu > .active > a:hover, &.dropdown-menu > .active > a:focus {
    text-decoration: none !important;
    outline: 0 !important;
    background-color: $color-white !important;
    color: $color-corp !important;
  }
  */ }
    .site nav#main-header .container {
      width: 100% !important;
      padding: 0 40px; }
    .site nav#main-header a {
      padding-top: 20px; }
    .site nav#main-header a, .site nav#main-header button {
      font-size: 15px;
      color: #525252;
      -webkit-transition: color 0.6s ease;
      -moz-transition: color 0.6s ease;
      -ms-transition: color 0.6s ease;
      -o-transition: color 0.6s ease;
      transition: color 0.6s ease; }
      .site nav#main-header a:hover, .site nav#main-header button:hover {
        color: #15AC9B; }
      .site nav#main-header a.navbar-brand, .site nav#main-header button.navbar-brand {
        font-size: 24px;
        color: #15AC9B; }
    .site nav#main-header .social-icon {
      font-size: 15px;
      color: inherit; }
    .site nav#main-header ul li a {
      padding-top: 20px;
      color: #525252;
      -webkit-transition: color 0.6s ease;
      -moz-transition: color 0.6s ease;
      -ms-transition: color 0.6s ease;
      -o-transition: color 0.6s ease;
      transition: color 0.6s ease; }
      .site nav#main-header ul li a:hover {
        color: #15AC9B; }
    .site nav#main-header .nav li > form > button.logout {
      padding: 19px; }
    .site nav#main-header.navbar-inverse .navbar-nav > .active > a, .site nav#main-header.navbar-inverse .navbar-nav > .active > a:hover, .site nav#main-header.navbar-inverse .navbar-nav > .active > a:focus {
      color: #15AC9B;
      background-color: transparent; }
    .site nav#main-header.navbar-inverse .navbar-toggle {
      border-color: #15AC9B; }
      .site nav#main-header.navbar-inverse .navbar-toggle .icon-bar {
        background-color: #15AC9B; }
    .site nav#main-header.navbar-inverse .navbar-toggle:hover,
    .site nav#main-header.navbar-inverse .navbar-toggle:focus {
      background-color: #009092; }
      .site nav#main-header.navbar-inverse .navbar-toggle:hover[aria-expanded="false"],
      .site nav#main-header.navbar-inverse .navbar-toggle:focus[aria-expanded="false"] {
        background-color: #fff; }
    .site nav#main-header.navbar-inverse .navbar-collapse, .site nav#main-header.navbar-inverse .navbar-form {
      border-color: transparent;
      background: #fff; }
    .site nav#main-header #main-header-collapse {
      max-height: 60px; }
      .site nav#main-header #main-header-collapse[aria-expanded="true"] {
        max-height: none;
        border-bottom: 1px solid #15AC9B; }
    .site nav#main-header.navbar-inverse .navbar-nav > .open > a, .site nav#main-header .navbar-inverse .navbar-nav > .open > a:hover, .site nav#main-header .navbar-inverse .navbar-nav > .open > a:focus {
      background-color: transparent; }
  .site .dropdown-menu > .active > a, .site .dropdown-menu > .active > a:hover, .site .dropdown-menu > .active > a:focus {
    text-decoration: none !important;
    outline: 0 !important;
    background-color: #fff !important;
    color: #15AC9B !important; }
  .site .dropdown-menu > li > a:hover, .site .dropdown-menu > li > a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #fff; }
  .site .pic-container {
    width: 100%;
    max-height: 600px; }
  .site .footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px; }

@media (max-width: 768px) {
  .site nav#main-header .container {
    padding: 0 10px; } }
