// @import "compass/css3";
// @import "compass/utilities";
@import "mixins";
@import "generales";
/*
$fuente: 'Futura LT W01 Medium Condensed', Arial, Helvetica, sans-serif;
$fuente_bold: 'Futura LT W01 X Bold Condensed';
$fuente_italic: 'Futura LT W01 Medium Oblique';
$fuente_medium: 'Futura LT W01 Medium';
*/

$color-white: #fff;
$color-black: #000;
$color-link: #9d9d9d;
$color-grey: #ddd;
$color-grey-dark: #777;
$color-rojo: red;
$color-verde: green;
$color-amarillo: yellow;


