.fleft{
  float: left;
}
.fright{
  float: right;
}
.clear{
  clear: both !important;
}
.text-center{
  text-align: center;
}
.text-justify{
  text-align: justify;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.ohidden{
  overflow: hidden;
}
.oauto{
  overflow: auto;
}
.oculto{
  display: none;
}
.visible{
  display: block;
}
.centered{
  margin: 0 auto;
}