
.fleft{
  float: left;
}
.fright{
  float: right;
}
.clear{
  clear: both !important;
}
.text-center{
  text-align: center;
}
.text-justify{
  text-align: justify;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.ohidden{
  overflow: hidden;
}
.oauto{
  overflow: auto;
}
.oculto{
  display: none;
}
.visible{
  display: block;
}
.centered{
  margin: 0 auto;
}
.bordered{
  border: 1px solid #000;
}
img{
  &.responsive{
    width:100%;
    height: auto;
  }
}
.text-corp{ color: $color-corp;  }
.text-corp-dark{ color: $color-corp-dark;  }
.text-sunset{ color: $color-sunset;  }
.text-sunset-dark{ color: $color-sunset-dark;  }
.text-grey{ color: $color-font;  }
.text-grey-light{ color: $color-font-light;  }




