
@import "config";

body.front{
  margin: 0;
  color: $color-font;
  font-family: "Source Sans Pro",sans-serif;
  font-size: 16px;
  background: url($ruta-images + 'header-top.jpg') repeat-x #fff;
  padding-top: 10px;

  a{
    color: $color-corp;
    @include transition(color $default-ease ease);
    &:hover{
      color: $color-corp-dark;
      text-decoration: none;
    }
  }

}

// OVERWRITES
.breadcrumb{
  padding: 0 0;
  background-color: transparent;
}
.panel-default > .panel-heading {
  background-color: transparent;
}


// main...
.site{
  // cabecera
  @import 'partials/_header';

  .pic-container{
    width:100%;
    max-height: 600px;
  }

  // footer
  @import 'partials/_footer';

  /*
  p {
    @include font-size(20px);
  }

  .transition{
    border: 1px solid $color-black;
    padding: 1em;
    background: $color-white;
    @include transition(background .8s ease);
    &:hover{
      background: $color-grey;
      cursor: pointer;
    }

  }

  // animation frames
  @include keyframes(slide-down) {
    0% { opacity: 1; }
    90% { opacity: 0; }
  }
  .animated {
    width: 100px;
    height: 100px;
    background: black;
    @include animation('slide-down 5s 3');
  }

  .sidebar {
    height: 60px;
    // background: $color-black;
    width: 60%;
    float: left;
    background: $color-black;
    color: $color-white;
    @include font-size(25px);
    text-align: center;
    margin: 0 2% 0 0;
    @include bp-small {
      width: 100%;
      float: none;
      margin: 0;
    }//
  }

  .container-with-floated-children {
    @extend %clearfix;
  }
  */

}

@import "_bootstrap-ow";
@import "media";


