/* header partial | comment */


nav#main-header{

  .container{
    width:100% !important;
    padding: 0 40px;
  }

  background-color: $color-white;
  border: 0;
  border-bottom: 1px solid $color-links-header;
  // border-top: 4px solid $color-links-header;
  top: 10px;
  height: 60px;

  a{ padding-top: 20px; }

  a,button{

    font-size: $header-font-size;
    color: $color-links-header-dark;
    @include transition(color $default-ease ease);
    &:hover{
      color: $color-links-header;
    }
    &.navbar-brand{
      font-size: 24px;
      color: $color-links-header;
    }
  }
  .social-icon{
    font-size: $header-font-size;
    color: inherit;
  }
  // links
  ul{
    li{
      a{
        padding-top: 20px;
        color: $color-links-header-dark;
        @include transition(color $default-ease ease);
        &:hover{
          color: $color-links-header;
        }
      }
    }
  }

  // overwrites
  .nav li > form > button.logout {
    padding: 19px;
  }

  &.navbar-inverse .navbar-nav > .active > a, &.navbar-inverse .navbar-nav > .active > a:hover, &.navbar-inverse .navbar-nav > .active > a:focus {
    color: $color-links-header;
    background-color: transparent;
  }

  &.navbar-inverse{

    .navbar-toggle{

      border-color: $color-links-header;

      .icon-bar {
        background-color: $color-links-header;
      }

    }

  }
  &.navbar-inverse .navbar-toggle:hover,
  &.navbar-inverse .navbar-toggle:focus{

    background-color: $color-corp-dark;

    &[aria-expanded="false"]{
      background-color: $color-white;
    }

  }
  // desplegable hamburguesa
  &.navbar-inverse .navbar-collapse, &.navbar-inverse .navbar-form {
    border-color: transparent;
    background: #fff;
    // border-bottom: 1px solid $color-corp;
    // max-height: 60px;
  }

  #main-header-collapse{
    max-height: 60px;
    // border-bottom: 1px solid $color-corp;
    &[aria-expanded="true"]{
      max-height:none;
      border-bottom: 1px solid $color-corp;
    }
  }
  &.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    // color: #fff;
    background-color: transparent;
  }
  /*
  &.dropdown-menu > .active > a, &.dropdown-menu > .active > a:hover, &.dropdown-menu > .active > a:focus {
    text-decoration: none !important;
    outline: 0 !important;
    background-color: $color-white !important;
    color: $color-corp !important;
  }
  */


}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  text-decoration: none !important;
  outline: 0 !important;
  background-color: $color-white !important;
  color: $color-corp !important;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: $color-white;
}

